.products-grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    margin-top: 100px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    gap:20px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.product-card p {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 15px;
}

/* Stil za gumb unutar kartica proizvoda */
.product-card button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #0056b3;
}

/* Stilovi za prilagodbu prikaza na manjim ekranima */
@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr); /* Dva stupca za manje ekrane */
        gap: 30px; /* Povećan razmak za manje ekrane */
    }
}

@media (max-width: 480px) {
    .products-grid {
        grid-template-columns: 1fr; /* Jedan stupac za mobilne uređaje */
        gap: 20px; /* Razmak za mobilne uređaje */
    }
}
